body {
	background-image: url("https://assets.breatheco.de/apis/img/bg/background-vertical.jpg");
	background-repeat: repeat-y;
	padding-left: 20px;
	font-family: "Times New Roman";
}
h1 {
	color: red;
	text-align: center;
	font-family: "Courier";
}
h2 {
	text-decoration: underline;
}

a:hover {
	background-color: green;
	text-decoration: none;
}
.fondo {
	padding: 5px;
	opacity: 0.2;
	background-color: rgb (255, 0, 0, 0.5);
}
